
div.Middle_env{
    text-align:center;
}

div.Middle_stability1{
    text-align: center;
   
    border-style: dotted;
    margin:5px;
   
} 
div.Middle_communication{
    text-align: center;
   
    border-style: dotted;
    margin:5px;
  
}
/* 
div.pie{
    margin:5px;
  
} */





