<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- <div class="individual_stream"> -->
                <div class="Middle_env">TF2</div>

        
                <div class="Middle_stability2">
                        
                                <canvas id="lineChart2" >
                                        {{LineChart}}
                                </canvas>
                        
                </div>
                <div class="Middle_communication">
                        
                                                <div *ngIf="this.c_data">
                                                        <ul>
                                                        <li *ngFor="let communication of this.c_data">
                                                        <span>{{communication}}</span>
                                                        </li>
                                                        </ul>
                                                </div>
                                        
                </div>
                <div class="pie">
                                <canvas id="pieChart2" ></canvas>
                </div>
        <!-- </div> -->
</div>
</div>

