<!--The content below is only a placeholder and can be replaced.-->

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <app-env3x></app-env3x>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <app-cbs4one></app-cbs4one>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <app-cbs4two></app-cbs4two>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <app-cbs4three></app-cbs4three>
        </div>

    </div> -->
    <!-- <div>
    <app-dashboard></app-dashboard>
    <a routerLink="/pf2details">EnvPf2DetailComponent</a>
    <router-outlet></router-outlet>
    <div class="row">
        <app-dashboard></app-dashboard>
    </div>
</div> -->

<router-outlet></router-outlet>