<div class="custom_env row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="stream">CBS 4.1</div>
        <div class="row">
            <!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                 <app-env-iaf></app-env-iaf>
            </div> -->
            <!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
               <app-env-paf></app-env-paf>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
               <app-env-taf></app-env-taf>
            </div> -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <app-env-paf></app-env-paf>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <app-env-taf></app-env-taf>
               </div>

        </div>
</div>
</div>